* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --clr-fond: #29313E;
}

body{
    background-color: white;
}

h1{
    font-size: 45px;
    padding-top: 5px;
    color: white;
    text-align: center;
    font-family:'Arial';
}

.header{
    width:100%;
    height: 5rem;
    background-color:var(--clr-fond) ;
    z-index: 100;
    position: fixed;
}

.background {
    width: 100vw;
    height: 100vh;
    background-attachment: fixed;
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(FOND.jpg);
    position: fixed;
    z-index: -1;
    display:flex;
    flex-direction: column;
} 

.overlay{
    width:100%;
    height:100%;
    background-color: #c4c4c4;
    opacity:0.5;
}

.background img{
    height: 99vh;
    width:100%;
    z-index:-100;
}

.background h1{
    z-index: inherit;
}

.opacity{
    opacity: 0.65;
}

.grand_titre{
    line-height: 55px;
    text-align: center;
    font-family:'Arial';
    color:#634242;
    background-color: #9c9c9cd8;
    font-size: 50px;
    width: 40vw;
    padding:10px;
    margin: 0;
    position:absolute;
    right:30vw;
    top: 38vh;
    display: flex;
    justify-content:space-around;
    align-items: center;
    flex-direction: column;
    
}

.grand_titre h1{
    text-align: center;
    font-family:'Arial';
    color:#634242;
    font-size: 3vw;
}



.footer{
    width:100%;
    height: 5rem;
    background-color:var(--clr-fond) ;
    z-index: 100;
    position: fixed;
    bottom:0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.footer2{
    width:100%;
    height: 2vh;
    background-color:var(--clr-fond) ;
    z-index: 100;
    position: fixed;
    bottom:0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.btn {
    color: #ffffff;
    background-color: #423a9c;
    padding: 0.8rem;
    font-size: 14px;
    border-radius: 20px;
    width: 20%;
    cursor: pointer;
    border: 1px solid rgba(255, 255, 255, 0);
}


input[type=text], input[type=submit], input[type=reset] {
    color: #A59F9F;
    cursor: pointer;
    border-radius: 20px;
    border:transparent;
    height: 5vh;
  }

input[type=submit]{
      background-color: #000000;
      width:10vw;
      min-width:80px;
  }

::-webkit-input-placeholder {
    text-align: center;
 }
 
 :-moz-placeholder { /* Firefox 18- */
    text-align: center;  
 }
 
 ::-moz-placeholder {  /* Firefox 19+ */
    text-align: center;  
 }
 
 :-ms-input-placeholder {  
    text-align: center; 
 }


 .EcranCentral{
    line-height: 55px;
    text-align: center;
    font-family:'Arial';
    background-color: #F3EED9;
    font-size: 50px;
    width: 80vw;
    height:70vh;
    padding:10px;
    margin: 0;
    position:absolute;
    right:10vw;
    top: 18vh;
    display: flex;
    justify-content:space-around;
    align-items: center;
    flex-direction: column;
    border: solid 2px rgb(81, 148, 103); 
}

.EcranCentral h1{
    text-align: center;
    font-family:'Arial';
    color:#634242;
    font-size: 3vw;
}

table{
    min-width: 90%;

}

table, th, td {
    border-width:1px; 
    border-style:solid; 
    border-color:black;
    border-collapse: collapse;
    font-size: 4vh;
}
